.about-us
  display: block
  position: relative
  padding-bottom: $section-padding

  &::after
    content: ''
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    background:
      image: url('../img/exp_tree.png')
      position: center top
      size: cover
      repeat: no-repeat
      color: darken($white, 20%)
    opacity: 0.4
    z-index: -1

  .about-heading
    margin-bottom: 0.7em

  .review-slider
    background: rgba(255, 255, 255, 0.6)
