.mobile-hero
  line-height: 1.6em

  .hero-info
    margin-top: 1em
    line-height: 1.2em

  .buttons
    display: flex
    flex: 1
    flex-wrap: nowrap
    margin-top: $section-padding

    .cta-services, .cta-contact
      width: 50%
      margin: 0 auto

    .cta-services
      background-color: $gif-red

      &:hover
        background-color: darken($gif-red, 5%)

    .cta-contact
      background-color: $font-color
      color: $white

      &:hover
        background-color: darken($font-color, 5%)
