.mobile-hero
  line-height: 1.5em

  .hero-info
    margin-top: 1em
    line-height: 1.2em

  .buttons
    display: flex
    flex: 1
    flex-wrap: nowrap
    margin-top: $section-padding

    .cta-services, .cta-contact
      width: 47.5%
      margin: 0 auto

    .cta-services
      background-color: $gif-red

    .cta-contact
      background-color: $font-color
      color: $white
