.main-header
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 100
  background-color: $font-color
  padding: 0.4em 0.6em

  .container
    display: grid
    grid-template-columns: repeat(3, 1fr)
    align-items: center

    .social-links
      display: flex
      font-size: 1.2em

      li
        padding: 0 0.6em

        &:first-of-type
          padding-left: 0

    .nav-toggle
      display: flex
      justify-content: flex-end
      color: $white

      i
        font-size: 2em

    .navbar
      grid-column: 1 / span 3
      max-height: 0em
      overflow: hidden
      transition: all 0.45s ease

      .main-nav
        display: block
        text-align: center

        li
          padding: 1em 0

    .nav-open
      max-height: 20em
